<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KutuphaneYonetimSistemi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="KutuphaneYonetimiEntities" connectionString="metadata=res://*/Model.Entities.Model1.csdl|res://*/Model.Entities.Model1.ssdl|res://*/Model.Entities.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-L2IUGM8\SQLEXPRESS05;initial catalog=KutuphaneYonetimi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KutuphaneEntities" connectionString="metadata=res://*/Model.Entities.Model1.csdl|res://*/Model.Entities.Model1.ssdl|res://*/Model.Entities.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-L2IUGM8\SQLEXPRESS05;initial catalog=Kutuphane;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <KutuphaneYonetimSistemi.Properties.Settings>
      <setting name="KullaniciAdi" serializeAs="String">
        <value />
      </setting>
      <setting name="Sifre" serializeAs="String">
        <value />
      </setting>
      <setting name="BeniHatirla" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Email" serializeAs="String">
        <value>zeynepilaydakaplan34@gmail.com</value>
      </setting>
      <setting name="Parola" serializeAs="String">
        <value>Toprak1645</value>
      </setting>
    </KutuphaneYonetimSistemi.Properties.Settings>
  </userSettings>
</configuration>